# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/

.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# data files (not docs directory)
docs/test/
docs/pdfs
sample_evaluation.json
sample_evaluation.csv
.DS_Store

feedback_log.jsonl