{% extends "base.html" %}
{% block content %}
  <form class="search" action="/search" method="get">
    <input type="text" name="q" placeholder="Enter your query"
           value="{{ request.args.get('q','') }}" size="50" autofocus>
    <input type="number" name="k" value="5" min="1" max="20" style="width:5rem">
    <button type="submit">Search</button>
  </form>
  {% if error %}
    <p style="color:red">{{ error }}</p>
  {% endif %}
  <p>Try queries that exist in your ingested PDFs.</p>
{% endblock %}